* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(239, 239, 10);
}

.flex-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 120px;
  height: 90px;
  border-radius: 27%;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  background-color: black;
  color: yellow;
  border: 1px solid yellow;
}

#start:hover {
  cursor: pointer;
  background-color: yellow;
  color: black;
  border: 1px solid black;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
